<!Doctype html>
<html>
	<head><title>HOME PAGE</title></head>
<body>
	<form action="/calculate" method="post">
		<label>NUM1: </label>
		<input type="number" name="num1"/>
		<label>NUM2: </label>
		<input type="number" name ="num2"/>
	    <button type="submit" name="operation" value="add">ADD</button>
	    <button type="submit" name="operation" value="sub">SUB</button>
		<button type="submit" name="operation" value="mul">MUL</button>
	    <button type="submit" name="operation" value="div">DIV</button>
		
	</form>
</body>
</html>